<%= @noaa_alerts.to_yaml %>
<div id="contacts">
  <% [1, 2, 3, 4, 5, 6, 7, 8].each do |i| %>
    <div class="alert alert-info">
      <div class="contact_name"><strong>Red Cross <%= i %></strong></div>
      <div class="number">
        555-555-5555
      </div>
    </div>
  <% end %>
</div>
