<div id="home" class="center">
  <!-- load in alerts -->
  <div class="alert alert-error"><i class="icon-warning-sign"></i><span>National Weather Service Alert</span></div>
  <div class="alert alert-error"><i class="icon-warning-sign"></i><span>FCC Alert</span></div>

  <ul class="center">
    <li class="shift_left clearfix">
      <button class="btn square">
        <i class="icon-book"></i>
        <p>Emergency Contacts</p>
      </button>
    </li>
    <li>
      <button class="btn square">
        <i class="icon-comment"></i>
        <p>Local Tweets</p>
      </button>
    </li>
    <li class="shift_left clearfix">
      <button class="btn square">
        <i class="icon-road"></i>
        <p>Road Conditions</p>
      </button>
    </li>
    <li>
      <button class="btn square">
        <i class="icon-wrench"></i>
        <p>Utilities</p>
      </button>
    </li>
    <li class="shift_left clearfix">
      <button class="btn square">
        <i class="icon-warning-sign"></i>
        <p>School Info</p>
      </button>
    </li>
    <li>
      <button class="btn square">
        <i class="icon-home"></i>
        <p>Shelter</p>
      </button>
    </li>
  </ul>

  <!-- <div>Local Forum</div>  -->
</div>