<div id="home">
  <!-- load in alerts -->
  <div class="alert alert-error">National Weather Service Alert</div>
  <div class="alert alert-error">FCC Alert</div>

  <ul>
    <li>Emergency Contacts</li>
    <li>Local Tweets</li>
    <li>Road Conditions</li>
    <li>Utilities</li>
    <li>School Info</li>
    <li>Shelter</li
  </ul>

  <!-- <div>Local Forum</div>  -->
</div>