<div id="home">
  <!-- load in alerts -->
    <!-- <div class="alert alert-error"><i class="icon-warning-sign"></i><span>National Weather Service Alert</span></div> -->
    <!-- <div class="alert alert-error"><i class="icon-warning-sign"></i><span>FCC Alert</span></div> -->
    <%= render :partial => "common/navigation" %>

  <!-- <div>Local Forum</div>  -->
</div>
