<div id="tweets">
	<% [1, 2, 3, 4, 5, 6, 7, 8].each do |i| %>
		<div class="alert alert-info">
			<div class="avatar">
				<img src="https://si0.twimg.com/profile_images/1833007151/hSCxaB79_bigger"></img>
			</div>
			<div class="author_name"><strong>Author <%= i %> says:</strong></div>
			<div class="content">
				I don't know how this happened to us.  It's so horrible I can't imagine anything worse!
				I don't know how this happened to us.  It's so horrible I can't imagine anything worse!
				I don't know how this happened to us.  It's so horrible I can't imagine anything worse!
				I don't know how this happened to us.  It's so horrible I can't imagine anything worse!
				I don't know how this happened to us.  It's so horrible I can't imagine anything worse!
			</div>
		</div>
	<% end %>
</div>