<ul id="navigation" class="center">
  <li class="shift_left clearfix">
    <button class="btn square" onclick="window.location = '/noaa'">
      <i class="icon-fire"></i>
      <p>National Weather Alerts</p>
    </button>
  </li>
  <li>
    <button class="btn square" onclick="window.location = '/local_tweets'">
      <i class="icon-comment"></i>
      <p>Local Tweets</p>
    </button>
  </li>
  <li class="shift_left clearfix">
    <button class="btn square" onclick="window.location = '/road_conditions'">
      <i class="icon-road"></i>
      <p>Road Conditions</p>
    </button>
  </li>
  <li>
    <button class="btn square">
      <i class="icon-wrench"></i>
      <p>Utilities</p>
    </button>
  </li>
  <li class="shift_left clearfix" onclick="window.location = '/schools'">
    <button class="btn square">
      <i class="icon-warning-sign"></i>
      <p>School Info</p>
    </button>
  </li>
  <li>
    <button class="btn square" onclick="window.location = '/shelters'">
      <i class="icon-home"></i>
      <p>Shelters</p>
    </button>
  </li>
</ul>
